<template>
  <!-- vertical flex container -->
  <div
    class="d-flex flex-column mapboxgl-ctrl"
  >
    <v-btn
      elevation="4"
      color="px-0 rounded-t deep-purple"
      tile
      dark
      large
      @click="onClickZoomIn"
    >
      <v-icon>
        mdi-plus
      </v-icon>
    </v-btn>
    <v-btn
      elevation="4"
      color="px-0 deep-purple"
      tile
      dark
      large
      @click="onClickZoomOut"
    >
      <v-icon>
        mdi-minus
      </v-icon>
    </v-btn>
    <v-btn
      elevation="4"
      color="px-0 rounded-b deep-purple"
      tile
      dark
      large
      @click="onClickResetPitchAndBearing"
    >
      <v-icon
        :style="computedRotation"
      >
        mdi-navigation
      </v-icon>
    </v-btn>
  </div>
</template>
<script lang="ts">
import Vue, { PropType } from 'vue';
import Component, { mixins } from 'vue-class-component';

import MapIControl from './MapIControl';

const MapINavigationControlProps = Vue.extend({
  props: {
    bearing: {
      type: Number,
      default: 0,
    },
    pitch: {
      type: Number,
      default: 0,
    },
    position: {
      type: String as PropType<'top-right' | 'top-left' | 'bottom-right' | 'bottom-left'>,
      default: 'bottom-right',
      validator(value) {
        const validValues = [
          'top-left',
          'top-right',
          'bottom-right',
          'bottom-left',
        ];
        const valueIsValid = validValues.indexOf(value) !== -1;
        if (!valueIsValid) {
          console.warn('Acceptable prop values:', validValues);
        }
        return valueIsValid;
      },
    },
  },
});

@Component
/**
 * Every Vue control component must implement the MapIControl class.
 */
export default class MapINavigationControl extends mixins(MapINavigationControlProps, MapIControl) {
  get computedRotation() {
    return {
      transform: `rotateZ(${this.bearing}deg) rotateX(${this.pitch}deg)`,
    };
  }

  onClickZoomIn(): void {
    if (this.map) {
      this.map.zoomIn();
    }
  }

  onClickZoomOut(): void {
    if (this.map) {
      this.map.zoomOut();
    }
  }

  onClickResetPitchAndBearing(): void {
    if (this.map) {
      // TODO: refactor to use resetNorthPitch: https://docs.mapbox.com/mapbox-gl-js/api/map/#map#resetnorthpitch
      this.map.setBearing(0);
      this.map.setPitch(0);
    }
  }

  // TODO: implement dragging of the bearing to rotate map
  // HTML5 Drag and Drop API prevents overriding the cursor while an element is dragged, so this can
  // only be implemented by combining mousedown and keeping track of mouse coordinates which is a
  // lot of boilerplate
  // See https://github.com/mapbox/mapbox-gl-js/blob/f2117b4ef501bbab298898e4f6c34083178d519a/src/ui/control/navigation_control.js#L143
}
</script>
<style scoped>
/* match geolocation button size */
.v-btn, .v-btn:not(.v-btn--round).v-size--large {
  min-width: 40px;
}
</style>
