<template>
  <!-- TODO: component is unused -->
  <!-- TODO: investigate if slots/props method is viable -->
  <!-- Slots method uses $refs -->
  <div>
    <slot />
  </div>
</template>
<script lang="ts">
import Vue, {
  PropType,
} from 'vue';
import Component from 'vue-class-component';
import {
  Map as MapboxGLMap,
} from 'mapbox-gl';

import VMap from '@/components/Map.vue';
import MapIControl from '@/components/maps/MapIControl';

const MapIControlContainerProps = Vue.extend({
  props: {
    // TODO: investigate if props method is better than slot method
    /* coordinates: {
      type: Object as PropType<Coordinates>,
      default: undefined,
    }, */
    mapIControl: { // reference to the control is required to call map.addControl
      type: Object as PropType<MapIControl>,
      default: undefined,
    },
    position: {
      type: String as PropType<'top-right' | 'top-left' | 'bottom-right' | 'bottom-left'>,
      default: 'bottom-right',
      validator(value) {
        const validValues = [
          'top-left',
          'top-right',
          'bottom-right',
          'bottom-left',
        ];
        const valueIsValid = validValues.indexOf(value) !== -1;
        if (!valueIsValid) {
          console.warn('Acceptable prop values:', validValues);
        }
        return valueIsValid;
      },
    },
  },
});

@Component
export default class MapIControlContainer extends MapIControlContainerProps {
  map!: MapboxGLMap;

  // keep track of the mapControl in the slot so we can remove it when this component is destroyed
  mapControl!: MapIControl;

  // slot method
  mounted(): void {
    // DEBUG: the slot should be populated when this component is mounted...
    // $nextTick MAY ensure the slot is mounted?
    this.mapControl = this.$slots.default?.[0].componentInstance as MapIControl;

    // inspired by: https://codesandbox.io/s/387w14mp1q
    this.$nextTick(() => {
      this.map = ((this.$parent as VMap).map as MapboxGLMap);
      // TODO: potential race condition with v-if rendering of Map component
      this.map.addControl(
        // DEBUG: can also use this.$children[0] to access slot (not recommended)
        // https://stackoverflow.com/a/55571607
        this.mapControl as MapIControl,
        this.position as 'top-right' | 'top-left' | 'bottom-right' | 'bottom-left',
      );
    });
  }

  // TODO: investigate if props method is better than slot method
  // mounted(): void {
  //   // inspired by: https://codesandbox.io/s/387w14mp1q
  //   this.$nextTick(() => {
  //     this.map = ((this.$parent as VMap).map as MapboxGLMap);
  //     this.mapIControl.$mount('.mapboxgl-ctrl');
  //     // TODO: potential race condition with v-if rendering of Map component
  //     this.map.addControl(
  //       this.mapIControl,
  //       this.position as 'top-right' | 'top-left' | 'bottom-right' | 'bottom-left',
  //     );
  //   });
  // }

  // because the control is added to the DOM, it must be manually removed from the DOM?
  beforeDestroy(): void {
    console.log(this.mapControl);
    // since beforeDestroy() is called after mounted(), this.map should be defined...
    // if not, wrap it around $nextTick
    // this.map.removeControl(this.mapControl);
  }
}
</script>
