<template>
  <div
    class="mapboxgl-ctrl"
  >
    <!-- TODO: clicking the FAB retains the clicked colour: https://github.com/vuetifyjs/vuetify/issues/9972 -->
    <v-btn
      elevation="4"
      color="deep-purple"
      fab
      dark
      small
      @click="onClickGeolocate"
    >
      <v-icon>
        mdi-crosshairs-gps
      </v-icon>
    </v-btn>
  </div>
</template>
<script lang="ts">
import Vue, { PropType } from 'vue';
import Component, { mixins } from 'vue-class-component';

import { Coordinates } from '@/components/models';
import MapIControl from './MapIControl';

const MapIGeolocateControlProps = Vue.extend({
  props: {
    coordinates: {
      type: Object as PropType<Coordinates>,
      default: null,
    },
    position: {
      type: String as PropType<'top-right' | 'top-left' | 'bottom-right' | 'bottom-left'>,
      default: 'bottom-right',
      validator(value) {
        const validValues = [
          'top-left',
          'top-right',
          'bottom-right',
          'bottom-left',
        ];
        const valueIsValid = validValues.indexOf(value) !== -1;
        if (!valueIsValid) {
          console.warn('Acceptable prop values:', validValues);
        }
        return valueIsValid;
      },
    },
  },
});

@Component
/**
 * Every Vue control component must implement the MapIControl class.
 */
export default class MapIGeolocateControl extends mixins(MapIGeolocateControlProps, MapIControl) {
  coordinates!: Coordinates;

  onClickGeolocate(): void {
    if (this.map) {
      const { longitude: lng, latitude: lat } = this.coordinates;
      this.map.flyTo({
        center: {
          lng,
          lat,
        },
        zoom: 14,
      });
    }
  }
}
</script>
