<template>
  <div
    class="mapboxgl-ctrl"
  >
    <v-toolbar
      class="search-menu"
      floating
      dense
      rounded
    >
      <v-app-bar-nav-icon
        @click="onClickSearchMenu"
      />
      <v-text-field
        hide-details
        single-line
        placeholder="Search Pokemon Map"
        disabled
        filled
        dense
      />
      <v-btn
        icon
        disabled
        @click="onClickSearch"
      >
        <v-icon>mdi-magnify</v-icon>
      </v-btn>
      <v-divider
        inset
        vertical
      />
      <v-btn
        icon
        :disabled="!selectedSharedRaid"
        @click="onClickClose"
      >
        <v-icon>mdi-close</v-icon>
      </v-btn>
    </v-toolbar>
  </div>
</template>
<script lang="ts">
import Vue, { PropType } from 'vue';
import Component, { mixins } from 'vue-class-component';
import { mapActions } from 'vuex';

import {
  CLOSE_TRAINER_CODES_PANEL,
  OPEN_SEARCH_MENU_PANEL,
} from '@/store/actions';
import MapIControl from './MapIControl';
import { SharedRaidBoss } from '../models';

const MapISearchControlProps = Vue.extend({
  props: {
    selectedSharedRaid: {
      type: Object as PropType<SharedRaidBoss>,
      default: undefined,
    },
    position: {
      type: String as PropType<'top-right' | 'top-left' | 'bottom-right' | 'bottom-left'>,
      default: 'bottom-right',
      validator(value) {
        const validValues = [
          'top-left',
          'top-right',
          'bottom-right',
          'bottom-left',
        ];
        const valueIsValid = validValues.indexOf(value) !== -1;
        if (!valueIsValid) {
          console.warn('Acceptable prop values:', validValues);
        }
        return valueIsValid;
      },
    },
  },
});

@Component({
  methods: {
    ...mapActions([
      CLOSE_TRAINER_CODES_PANEL,
      OPEN_SEARCH_MENU_PANEL,
    ]),
  },
})
/**
 * Every Vue control component must implement the MapIControl class.
 */
export default class MapISearchControl extends mixins(MapISearchControlProps, MapIControl) {
  OPEN_SEARCH_MENU_PANEL!: () => void;

  CLOSE_TRAINER_CODES_PANEL!: () => void;

  onClickSearch(): void {
    console.log('clicked search', this);
  }

  onClickSearchMenu(): void {
    this.OPEN_SEARCH_MENU_PANEL();
  }

  onClickClose(): void {
    this.CLOSE_TRAINER_CODES_PANEL();
  }
}
</script>
<style scoped>
.search-menu {
  z-index: 2; /* forces search toolbar to appear on top of navigation drawer */
  margin-right: 10px; /* prevents toolbar from using up the full width on mobile */
}
</style>
