<template>
  <v-card max-width="344">
    <v-card-title>{{ popupData.raidBossName | titlecase }}</v-card-title>
    <v-card-text>
      <div>Tier: {{ popupData.raidBossTier | titlecase }}</div>
      <div>Hatch time: {{ popupData.hatchUTCTimestamp | hhMm(12) }}</div>
    </v-card-text>
    <v-card-actions />
  </v-card>
</template>
<script lang="ts">
import Vue, {
  PropType,
} from 'vue';
import Component from 'vue-class-component';

import { PopupData } from '@/components/models';

const MapPopupProps = Vue.extend({
  props: {
    popupData: {
      type: Object as PropType<PopupData>,
      default: undefined,
    },
  },
});

@Component
export default class MapPopup extends MapPopupProps {
  // TODO: enable timer for hatch time
  // get computedRemainingTime() {
  // }

  // TODO: enable timer for hatch time
  /* mounted() {
    setInterval(() => {
      const today: Date = new Date();
      const endTime: number = new Date(
        today.getFullYear(),
        today.getMonth(),
        today.getDate(),
        parseInt(this.popupData.HatchTime.split(":")[0]),
        parseInt(this.popupData.HatchTime.split(":")[1])
      ).getTime();

      let remainingTime: number = (endTime - new Date().getTime()) / 1000;
      console.log(remainingTime)
      const days = remainingTime / 86400;
      remainingTime = remainingTime % 86400;
      const hours = remainingTime / 3600;
      remainingTime = remainingTime % 3600;
      const minutes = remainingTime / 60;
      remainingTime = remainingTime % 60;
      const seconds = remainingTime;
      console.log(days, hours, minutes, seconds)
    }, 1000);
  } */
}
</script>
