<template>
  <!-- TODO: temporary solution for multiple root elements -->
  <v-container
    class="pa-0"
    fluid
    fill-height
  >
    <!-- TODO: refactor this to a v-navigation-drawer with slots -->
    <TrainerCodesPanel
      :selected-shared-raid="selectedSharedRaid"
      :share-trainer-code-status="shareTrainerCodeStatus"
      :trainer-codes="trainerCodes"
      :trainer-codes-status="trainerCodesStatus"
      :is-trainer-codes-panel-open="isTrainerCodesPanelOpen"
    />
    <!-- TODO: create a search menu panel -->
    <SearchMenuPanel
      :is-search-menu-panel-open="isSearchMenuPanelOpen"
    />
    <VMap
      v-if="geolocationByIPStatus === 'success' || geolocationByIPStatus === 'success'"
      :options="computedMapOptions"
      :shared-raid-bosses="sharedRaidBosses"
      :shared-raid-bosses-status="sharedRaidBossesStatus"
    >
      <!-- receive slot props from map component -->
      <template v-slot:default="{bearing, pitch}">
        <!-- pass the slot props to any component that is under this template -->
        <MapINavigationControl
          :bearing="bearing"
          :pitch="pitch"
          position="bottom-right"
        />
        <MapIGeolocateControl
          :coordinates="geolocation"
          position="bottom-right"
        />
        <MapISearchControl
          :selected-shared-raid="selectedSharedRaid"
          position="top-left"
        />
      </template>
      <!-- TODO: investigate if slot method is viable -->
      <!-- <MapIControlContainer
        position="top-right"
      >
        <MapIGeolocateControl
          :coordinates="geolocation"
        />
      </MapIControlContainer> -->
      <!-- TODO: investigate if props method is better than slot method -->
      <!-- <MapIControlContainer
        :map-i-control="geolocationControl"
        :coordinates="geolocation"
        position="top-right"
      /> -->
    </VMap>
    <ShareRaidDialog
      :share-target="shareTarget"
      :raid-bosses="raidBosses"
      :raid-bosses-status="raidBossesStatus"
    />
  </v-container>
</template>
<script lang="ts">
/* eslint-disable no-console */
import Vue, {
  PropType,
} from 'vue';
import Component from 'vue-class-component';
import { mapActions, mapState } from 'vuex';
import type { MapboxOptions } from 'mapbox-gl';

import {
  Coordinates,
  Shareable,
} from '@/components/models';
import {
  GET_GEOLOCATION_BY_IP,
  GET_GEOLOCATION_BY_HTML5,
} from '@/store/actions';
import { raidBossModule } from '@/store/modules/raidBoss/actionTypes';
import { trainerCodeModule } from '@/store/modules/trainerCode/actionTypes';
import VMap from '@/components/Map.vue'; // @ is an alias to /src
import ShareRaidDialog from '@/components/ShareRaidDialog.vue';
import SearchMenuPanel from '@/components/SearchMenuPanel.vue';
import TrainerCodesPanel from '@/components/TrainerCodesPanel.vue';
import MapIGeolocateControl from '@/components/maps/MapIGeolocateControl.vue';
import MapINavigationControl from '@/components/maps/MapINavigationControl.vue';
import MapISearchControl from '@/components/maps/MapISearchControl.vue';

const GoMapProps = Vue.extend({
  props: {
    shareTarget: {
      type: Object as PropType<Shareable>,
      default: undefined,
    },
  },
});

@Component({
  components: {
    VMap,
    MapIGeolocateControl,
    MapINavigationControl,
    MapISearchControl,
    ShareRaidDialog,
    SearchMenuPanel,
    TrainerCodesPanel,
  },
  computed: {
    ...mapState(raidBossModule, [
      'raidBosses',
      'raidBossesStatus',
      'sharedRaidBosses',
      'sharedRaidBossesStatus',
    ]),
    ...mapState(trainerCodeModule, [
      'shareTrainerCodeStatus',
      'trainerCodes',
      'trainerCodesStatus',
    ]),
    ...mapState([
      'selectedSharedRaid',
      'isTrainerCodesPanelOpen',
      'isSearchMenuPanelOpen',
      'geolocation',
      'geolocationByIPStatus',
      'geolocationByHTML5Status',
    ]),
  },
  methods: {
    ...mapActions([
      GET_GEOLOCATION_BY_HTML5,
      GET_GEOLOCATION_BY_IP,
    ]),
  },
})
export default class GoMap extends GoMapProps {
  GET_GEOLOCATION_BY_IP!: () => void;

  geolocation!: Coordinates;

  geolocationByIPStatus!: string;

  geolocationByHTML5Status!: string;

  // TODO: investigate if props method is better than slot method
  /* geolocationControl = new MapIGeolocateControl(
    {
      parent: this,
      // propsData is not reactive
      propsData: {
        coordinates: this.geolocation,
      },
    },
  ); */

  // dependent on geolocation which is asynchronous, so use a computed property to check for changes
  get computedMapOptions(): MapboxOptions {
    const mapOptions: MapboxOptions = {
      accessToken: process.env.VUE_APP_MAPBOX_TOKEN as string,
      attributionControl: false,
      center: [this.geolocation.longitude, this.geolocation.latitude],
      container: 'map',
      logoPosition: 'bottom-left',
      style: 'mapbox://styles/mapbox/streets-v11?optimize=true',
      zoom: 14,
    };
    return mapOptions;
  }

  created(): void {
    this.GET_GEOLOCATION_BY_IP();
  }
}
</script>
