<template>
  <!-- TODO: refactor to Vue 3 multiple root elements and remove this outer div -->
  <div style="width: 100%; height: 100%;">
    <div
      :id="options.container"
      :style="computedMapStyling"
    >
      <!-- expose map properties as slot props to the component that is slotted into the map -->
      <slot
        :bearing="bearing"
        :pitch="pitch"
      />
    </div>
    <div
      :style="computedStaticStyling"
    />
  </div>
</template>
<script lang='ts'>
/* eslint-disable no-unused-expressions */
import Vue, {
  PropType,
} from 'vue';
import Component from 'vue-class-component';
import {
  Map as MapboxGLMap,
  Popup,
  Marker,
  MapboxOptions,
} from 'mapbox-gl';
import 'mapbox-gl/dist/mapbox-gl.css';
import { mapActions } from 'vuex';

import MapPopup from '@/components/maps/MapPopup.vue';
import {
  Coordinates,
  MarkerData,
  SharedRaidBoss,
  Status,
} from '@/components/models';
import {
  CLICK_MARKER,
  CLOSE_TRAINER_CODES_PANEL,
} from '@/store/actions';
import { trainerCodeModule, GET_TRAINER_CODES } from '@/store/modules/trainerCode/actionTypes';
import { raidBossModule, GET_SHARED_RAID_BOSSES } from '@/store/modules/raidBoss/actionTypes';

const VMapProps = Vue.extend({
  props: {
    options: {
      type: Object as PropType<MapboxOptions>,
      default: undefined,
    },
    sharedRaidBosses: {
      type: Array as PropType<SharedRaidBoss[]>,
      default: undefined,
    },
    sharedRaidBossesStatus: {
      type: String as PropType<Status>,
      default: undefined,
    },
  },
});

@Component({
  methods: {
    ...mapActions(raidBossModule, [
      GET_SHARED_RAID_BOSSES,
    ]),
    ...mapActions(trainerCodeModule, [
      GET_TRAINER_CODES,
    ]),
    ...mapActions([
      CLICK_MARKER,
      CLOSE_TRAINER_CODES_PANEL,
    ]),
  },
  watch: {
    computedCoordinates: 'onCoordinatesChanged',
    sharedRaidBosses: 'onSharedRaidBossesChanged',
    currentZoomLevel: 'onCurrentZoomLevelChanged',
  },
})
export default class VMap extends VMapProps {
  CLICK_MARKER!: (marker: MarkerData<SharedRaidBoss>) => void;

  GET_TRAINER_CODES!: (raidID: string) => void;

  GET_SHARED_RAID_BOSSES!: (location: Coordinates) => void;

  CLOSE_TRAINER_CODES_PANEL!: () => void;

  sharedRaidBossesByCoordinates!: Map<string, SharedRaidBoss[]>;

  map!: MapboxGLMap;

  isMapLoading = true;

  markers: Marker[] = [];

  // Used to track state of the previously spiderified markers
  spiderLegs: {
    sharedRaidBoss: SharedRaidBoss;
    element: {
      markerContainer: HTMLDivElement;
      icon: HTMLDivElement;
      spiderLeg: HTMLDivElement;
    };
    mapboxMarker: Marker;
    param: { x: number; y: number; angle: number; legLength: number; index: number };
  }[] = [];

  spiderifiedMarkers: Marker[] = []; // Used to track state of current spiderified markers

  unspiderifiedMarkers: Marker[] = []; // Used to track state of aggregate markers

  // used to dynamically control the radius of the spiderified markers
  spiderLegLength = 45;

  currentZoomLevel = 14;

  isSpiderified = false;

  bearing = 0;

  pitch = 0;

  /**
   * Normalizes the shared raid bosses by coordinates.
   */
  get computedSharedRaidBossesByCoordinates(): Map<string, SharedRaidBoss[]> {
    const sharedRaidBosses = new Map<string, SharedRaidBoss[]>();
    this.sharedRaidBosses.forEach((raidBoss) => {
      const location = `${raidBoss.location.latitude}:${raidBoss.location.longitude}`;
      if (sharedRaidBosses.has(location)) {
        sharedRaidBosses.set(
          location,
          [...sharedRaidBosses.get(location) as SharedRaidBoss[], raidBoss],
        );
      } else {
        sharedRaidBosses.set(location, [raidBoss]);
      }
    });
    return sharedRaidBosses;
  }

  get computedCoordinates(): Coordinates {
    const [longitude, latitude] = this.options.center as [number, number];
    return {
      longitude,
      latitude,
    };
  }

  get computedStaticStyling(): unknown {
    // get max(width, height) to ensure we always scale down to a size s.t. both dimensions < 1280
    const largestDimension = Math.max(window.innerWidth, window.innerHeight);

    let imageWidth = window.innerWidth;
    let imageHeight = window.innerHeight;
    let scaleFactor = 1;

    // if container height/width > max size of Mapbox Static Image API, downscale and perserve the
    // aspect ratio of the image
    if (largestDimension > 1280) {
      scaleFactor = 1280 / largestDimension;
      imageWidth = Math.round(window.innerWidth * scaleFactor);
      imageHeight = Math.round(window.innerHeight * scaleFactor);
    }

    const zoomFactor = (1 - (1 / scaleFactor)); // account for the zooming when the image is scaled
    return {
      backgroundSize: 'cover',
      backgroundImage: `url(https://api.mapbox.com/styles/v1/mapbox/streets-v11/static/${(this.options.center as [number, number])?.[0]},${(this.options.center as [number, number])?.[1]},${(this.options.zoom || 14) + zoomFactor}/${imageWidth}x${imageHeight}${largestDimension > 1280 ? '@2x' : ''}?access_token=${this.options.accessToken})`,
      width: '100%',
      height: '100%',
      gridColumn: '1',
      gridRow: '1',
      // TODO: temporary fix for positioning static image
      position: this.isMapLoading ? 'absolute' : 'unset',
      bottom: 0,
    };
  }

  get computedMapStyling(): unknown {
    return this.isMapLoading ? { visibility: 'hidden' } : undefined;
  }

  // get computedMarkers(): void {
  //   this.computedSharedRaidBossesByCoordinates.forEach(
  //     (sharedRaidBosses, coordinates: string) => {
  //       const [latitude, longitude] = coordinates.split(':');
  //       this.spiderify(
  //         { latitude: parseFloat(latitude), longitude: parseFloat(longitude) },
  //         sharedRaidBosses,
  //       );
  //     },
  //   );
  //   return undefined;
  // }

  created(): void {
    this.GET_SHARED_RAID_BOSSES(this.computedCoordinates);
  }

  mounted(): void {
    this.map = new MapboxGLMap(this.options);

    this.bearing = this.map.getBearing();

    this.pitch = this.map.getPitch();

    this.map.on('load', () => {
      this.isMapLoading = false;
    });

    // when map is moved, render new shared raid boss markers and popup
    this.map.on('moveend', () => {
      // TODO: consider debouncing this
      setTimeout(() => {
        this.GET_SHARED_RAID_BOSSES({
          longitude: this.map.getCenter().lng,
          latitude: this.map.getCenter().lat,
        } as Coordinates);
      }, 1000);
    });

    // when the map is clicked, close the trainer codes panel
    this.map.on('click', (event) => {
      // TODO: find a way to distinguish between clicking a marker event and clicking a map
      // event b/c clicking on a marker will bubble the event here
      switch ((event.originalEvent.target as HTMLElement).className) {
        case 'marker mapboxgl-marker mapboxgl-marker-anchor-center':
        case 'spider-leg-pin default-spider-pin':
          break;
        default:
          // unspiderify
          this.unspiderify();
          this.unspiderifiedMarkers.forEach((marker) => marker.addTo(this.map));
          this.spiderLegs = [];

          this.CLOSE_TRAINER_CODES_PANEL();
          break;
      }
    });

    // when the map is zoomed in/out, shorten/lengthen the spider legs
    this.map.on('zoomend', () => {
      this.spiderLegLength *= this.map.getZoom() / this.currentZoomLevel;
      this.currentZoomLevel = this.map.getZoom();
    });

    // expose the map's rotation and viewing angle to the slot as props
    this.map.on('rotate', () => {
      this.bearing = this.map.getBearing();
    });
    this.map.on('pitch', () => {
      this.pitch = this.map.getPitch();
    });
  }

  beforeDestroy(): void {
    // release resources
    this.map.remove();
  }

  /**
   * Creates a `mapboxgl.Popup` and mounts it to an `MapPopup` Vue instance
   */
  createPopup(
    el: SharedRaidBoss,
    spiderLegOffset?: {
      x: number;
      y: number;
      angle: number;
      legLength: number;
      index: number;
    },
  ) {
    // create the popup
    const popup: Popup = new Popup(
      {
        offset: spiderLegOffset ? VMap.getSpiderifiedPopupOffset(spiderLegOffset) : undefined,
      },
    )
      .setLngLat([el.location.longitude, el.location.latitude])
      .setHTML(`
        <div
          id='marker-popup-${el.raidID}'
        >
        </div>
        `)
      // must call addTo for Vue component to mount
      .addTo(this.map);

    // manually mount a Vue component into the popup: https://tech.beyondtracks.com/posts/mapbox-gl-popups-with-vue/
    new MapPopup({
    // manually mounted components don't have access to parent or vuex store, so it must be
    // passed explicitly
    // passing the parent is enough because vuex extracts the store from parent
    // (which has the store)
    // https://forum.vuejs.org/t/this-store-undefined-in-manually-mounted-vue-component/8756
      parent: this,
      propsData: {
        popupData: {
          raidBossName: el.raidBossName,
          raidBossTier: el.raidBossTier,
          hatchUTCTimestamp: el.hatchUTCTimestamp,
        },
      },
    }).$mount(`#marker-popup-${el.raidID}`);
    return popup;
  }

  /**
   * Create a HTML element that represents the pokemon's icon.
   * NOTE: do not attach event handlers to this HTMLElement
   */
  createPokemonIcon(el: SharedRaidBoss, isSpiderified: boolean): HTMLDivElement {
    // TODO: refactor this into a vue component
    const icon: HTMLDivElement = document.createElement('div');

    // necessary to detect if a spiderified or unspiderified marker was clicked
    icon.className = isSpiderified
      ? 'spider-leg-pin default-spider-pin'
      : 'marker';

    // in order for the marker icons to be shown on the map
    icon.style.width = '32px';
    icon.style.height = '32px';

    // fallback to egg icon is missing
    if (el.raidBossCanonicalName !== 'unknown' && el.raidBossNumber) {
      // TODO: store the icons on the backend and call them via an api
      // e.g. /api/images?raikou
      // Currently, icons are stored as static assets (possibly inefficient: https://cli.vuejs.org/guide/html-and-static-assets.html#the-public-folder)
      icon.style.backgroundImage = `url("./pokemon-icons/svg/${this.$options?.filters?.pokemonNumber(el.raidBossNumber.toString())}-${el.raidBossCanonicalName}.svg")`;
    } else {
      switch (el.raidBossTier) {
        case '1':
          icon.style.backgroundImage = 'url("https://raw.githubusercontent.com/ZeChrales/PogoAssets/master/decrypted_assets/png/raid_egg_0_icon.png")';
          break;
        case '3':
          icon.style.backgroundImage = 'url("https://raw.githubusercontent.com/ZeChrales/PogoAssets/master/decrypted_assets/png/raid_egg_1_icon.png")';
          break;
        case '5':
          icon.style.backgroundImage = 'url("https://raw.githubusercontent.com/ZeChrales/PogoAssets/master/decrypted_assets/png/raid_egg_2_icon.png")';
          break;
        case 'mega':
          icon.style.backgroundImage = 'url("https://raw.githubusercontent.com/ZeChrales/PogoAssets/master/decrypted_assets/png/raid_egg_3_icon.png")';
          break;
        default:
          icon.style.backgroundImage = 'url("https://raw.githubusercontent.com/mapbox/mapbox-gl-styles/master/sprites/bright-v9/_svg/marker-15.svg")';
          break;
      }
      icon.style.backgroundSize = '32px';
    }
    return icon;
  }

  /**
   * Creates a `Marker` marker at `location` from a HTML Element and optionally attaches a
   * popup to the marker.
   */
  static createMarker(el: HTMLElement, location: Coordinates, popup?: Popup) {
    return popup
      ? new Marker(el)
        .setLngLat([location.longitude, location.latitude])
        .setPopup(popup) // add popup to the marker
      : new Marker(el)
        .setLngLat([location.longitude, location.latitude]);
  }

  createSpiderifiedMarker(
    el: SharedRaidBoss,
    spiderLegParam: { x: number; y: number; angle: number; legLength: number; index: number },
  ) {
    const icon = this.createPokemonIcon(el, true);
    const markerContainer: HTMLDivElement = document.createElement('div');
    const spiderLeg: HTMLDivElement = document.createElement('div');

    markerContainer.className = 'spider-leg-container';
    spiderLeg.className = 'spider-leg-line';

    markerContainer.appendChild(spiderLeg);
    markerContainer.appendChild(icon);
    markerContainer.style.marginLeft = `${spiderLegParam.x}px`;
    markerContainer.style.marginTop = `${spiderLegParam.y}px`;

    spiderLeg.style.height = `${spiderLegParam.legLength}px`;
    spiderLeg.style.transform = `rotate(${spiderLegParam.angle - Math.PI / 2}rad)`;

    return { markerContainer, icon, spiderLeg };
  }

  /**
   * Spiderify a list of raid boss markers that should be centered at coordinates
   * Adapted from: https://github.com/bewithjonam/mapboxgl-spiderifier
   * @param {Coordinates} coordinates - the coordinates that the markers
   * @param {Marker[]} markers - the list of markers that are all located at coordinates
   */
  spiderify(coordinates: Coordinates, sharedRaidBosses: SharedRaidBoss[]) {
    // calculate the angles of the spider legs
    const createSpiralParams = (numberOfMarkersToSpiderify: number) => {
      let legLength = this.spiderLegLength;
      let angle = 0;

      const results = [];
      for (let i = 0; i < numberOfMarkersToSpiderify; i += 1) {
        angle += (48 / legLength + i * 0.001);
        const point = {
          x: legLength * Math.cos(angle),
          y: legLength * Math.sin(angle),
          angle,
          legLength,
          index: i,
        };
        legLength += (Math.PI * 2) * (4 / angle);

        results.push(point);
      }
      return results;
    };
    const createCircleParams = (numberOfMarkersToSpiderify: number) => {
      // controls the length of spider legs
      const circumference = this.spiderLegLength * (2 + numberOfMarkersToSpiderify);
      const legLength = circumference / (Math.PI * 2); // = radius from circumference
      const angleStep = (Math.PI * 2) / numberOfMarkersToSpiderify;

      const results = [];
      let angle: number;
      for (let i = 0; i < numberOfMarkersToSpiderify; i += 1) {
        angle = i * angleStep;
        const point = {
          x: legLength * Math.cos(angle),
          y: legLength * Math.sin(angle),
          angle,
          legLength,
          index: i,
        };

        results.push(point);
      }
      return results;
    };
    const createSpiderLegsParams = (numberOfMarkersToSpiderify: number) => (
      numberOfMarkersToSpiderify > 7
        ? createSpiralParams(numberOfMarkersToSpiderify)
        : createCircleParams(numberOfMarkersToSpiderify)
    );
    const spiderLegsParams = createSpiderLegsParams(sharedRaidBosses.length);

    const markersAtOneSetOfCoordinates = sharedRaidBosses.map((sharedRaidBoss, index) => {
      const marker = this.createSpiderifiedMarker(
        sharedRaidBoss,
        spiderLegsParams[index],
      );
      marker.icon.onclick = (event) => {
        this.CLICK_MARKER({ data: sharedRaidBoss, type: 'raid', event } as MarkerData<SharedRaidBoss>);
        this.GET_TRAINER_CODES(sharedRaidBoss.raidID);
      };
      const mapboxMarker = VMap.createMarker(
        marker.markerContainer,
        sharedRaidBoss.location,
        this.createPopup(sharedRaidBoss, spiderLegsParams[index]),
      );

      const spiderLeg = {
        sharedRaidBoss,
        element: marker,
        mapboxMarker,
        param: spiderLegsParams[index],
      };
      return spiderLeg;
    });

    markersAtOneSetOfCoordinates.forEach(({ mapboxMarker }) => mapboxMarker.addTo(this.map));
    this.spiderifiedMarkers = [
      ...this.spiderifiedMarkers,
      ...markersAtOneSetOfCoordinates.map(({ mapboxMarker }) => mapboxMarker),
    ];
    this.spiderLegs = [...this.spiderLegs, ...markersAtOneSetOfCoordinates];
  }

  unspiderify() {
    // remove all spiderified markers
    this.spiderifiedMarkers.forEach((spiderMarker) => spiderMarker.remove());
    // // remove all spiderified markers
    // this.spiderLegs.forEach(({ mapboxMarker }) => mapboxMarker.remove());

    // // add a non-spiderified marker
    // this.spiderLegs.forEach(
    //   ({ sharedRaidBoss: el, element }) => {
    //     VMap
    //       .createMarker(element.icon, el.location, this.createPopup(el))
    //       .addTo(this.map);
    //   },
    // );
  }

  static getSpiderifiedPopupOffset(
    { x: spiderLegXOffset, y: spiderLegYOffset }: { x: number; y: number },
    offset = 0,
  ) {
    const offsetVariant = (mainOffset: number[], variantX: number, variantY: number) => [
      mainOffset[0] + (variantX || 0), mainOffset[1] + (variantY || 0),
    ] as [number, number];

    return {
      top: offsetVariant([0, offset], spiderLegXOffset, spiderLegYOffset),
      'top-left': offsetVariant([offset, offset], spiderLegXOffset, spiderLegYOffset),
      'top-right': offsetVariant([-offset, offset], spiderLegXOffset, spiderLegYOffset),
      bottom: offsetVariant([0, -offset], spiderLegXOffset, spiderLegYOffset),
      'bottom-left': offsetVariant([offset, -offset], spiderLegXOffset, spiderLegYOffset),
      'bottom-right': offsetVariant([-offset, -offset], spiderLegXOffset, spiderLegYOffset),
      left: offsetVariant([offset, -offset], spiderLegXOffset, spiderLegYOffset),
      right: offsetVariant([-offset, -offset], spiderLegXOffset, spiderLegYOffset),
    };
  }

  onCoordinatesChanged(val: Coordinates): void {
    this.map.panTo([val.longitude, val.latitude]);
  }

  // When the nearby raid bosses change, display the new markers (unspiderified)
  // TODO: when a marker is spiderified and the map is moved, the unspiderified marker gets re-added
  onSharedRaidBossesChanged(): void {
    // Remove previously displayed markers
    this.markers.forEach((marker) => marker.remove());
    this.unspiderifiedMarkers.forEach((marker) => marker.remove());
    this.spiderifiedMarkers.forEach((marker) => marker.remove());
    this.markers = [];
    this.unspiderifiedMarkers = [];
    this.spiderifiedMarkers = [];

    // for each normalized boss, display an aggregated marker
    this.computedSharedRaidBossesByCoordinates.forEach((sharedRaidBosses, coordinates) => {
      const [latitude, longitude] = coordinates.split(':').map((el) => parseFloat(el));

      const icon = this.createPokemonIcon(sharedRaidBosses[0], false);
      switch (sharedRaidBosses.length) {
        case 1:
          icon.onclick = (event) => {
            this.CLICK_MARKER({ data: sharedRaidBosses[0], type: 'raid', event } as MarkerData<SharedRaidBoss>);
            this.GET_TRAINER_CODES(sharedRaidBosses[0].raidID);
          };
          this.markers.push(
            VMap
              .createMarker(
                icon,
                { latitude, longitude },
                this.createPopup(sharedRaidBosses[0]),
              )
              .addTo(this.map),
          );
          break;
        // display unspiderified marker if > 1 raid bosses at this location
        default: {
          if (this.spiderLegs.find(
            (el) => el.sharedRaidBoss.location.latitude === latitude
            && el.sharedRaidBoss.location.longitude === longitude,
          )) {
            const unspiderifiedMarker = VMap
              .createMarker(
                icon,
                { latitude, longitude },
              );
            icon.onclick = () => {
              // spiderify
              this.unspiderifiedMarkers.find((marker) => marker === unspiderifiedMarker)?.remove();
              this.spiderify({ latitude, longitude }, sharedRaidBosses);
            };
            this.unspiderifiedMarkers.push(unspiderifiedMarker);
            this.spiderify({ latitude, longitude }, sharedRaidBosses);
          } else {
            const unspiderifiedMarker = VMap
              .createMarker(
                icon,
                { latitude, longitude },
              )
              .addTo(this.map);
            this.unspiderifiedMarkers.push(unspiderifiedMarker);

            icon.onclick = () => {
              // spiderify
              this.unspiderifiedMarkers.find((marker) => marker === unspiderifiedMarker)?.remove();
              this.spiderify({ latitude, longitude }, sharedRaidBosses);
            };
          }
          break;
        }
      }
    });
  }

  // TODO: refactor (duplicate code as @Watch('sharedRaidBosses'))
  onCurrentZoomLevelChanged(): void {
    // Remove previously spiderified markers to recalculate length
    this.markers.forEach((marker) => marker.remove());
    this.unspiderifiedMarkers.forEach((marker) => marker.remove());
    this.spiderifiedMarkers.forEach((marker) => marker.remove());
    this.markers = [];
    this.unspiderifiedMarkers = [];
    this.spiderifiedMarkers = [];

    // for each normalized boss, display an aggregated marker
    this.computedSharedRaidBossesByCoordinates.forEach((sharedRaidBosses, coordinates) => {
      const [latitude, longitude] = coordinates.split(':').map((el) => parseFloat(el));

      const icon = this.createPokemonIcon(sharedRaidBosses[0], false);
      switch (sharedRaidBosses.length) {
        // if 1 raid boss shared at this coordinate, display "standard" marker
        case 1:
          // "standard" markers show the trainer codes panel when they are clicked
          icon.onclick = (event) => {
            this.CLICK_MARKER({ data: sharedRaidBosses[0], type: 'raid', event } as MarkerData<SharedRaidBoss>);
            this.GET_TRAINER_CODES(sharedRaidBosses[0].raidID);
          };
          this.markers.push(
            VMap
              .createMarker(
                icon,
                { latitude, longitude },
                this.createPopup(sharedRaidBosses[0]),
              )
              .addTo(this.map),
          );
          break;
        // if > 1 raid bosses shared with the same coordinates, display "aggregated" marker
        // "aggregated" markers show N "standard" markers on click
        default: {
          // if the marker was spiderified before zooming
          if (this.spiderLegs.find(
            (el) => el.sharedRaidBoss.location.latitude === latitude
            && el.sharedRaidBoss.location.longitude === longitude,
          )) {
            // we need to re-draw the spiderified marker with new leg lengths
            const unspiderifiedMarker = VMap
              .createMarker(
                icon,
                { latitude, longitude },
              );
            // since a new DOM element was created, we need to re-attach the click handler to marker
            icon.onclick = () => {
              // spiderify
              this.unspiderifiedMarkers.find((marker) => marker === unspiderifiedMarker)?.remove();
              this.spiderify({ latitude, longitude }, sharedRaidBosses);
            };
            // since the marker was spiderified before zoom, it should be spiderified after zoom
            this.unspiderifiedMarkers.push(unspiderifiedMarker);
            this.spiderify({ latitude, longitude }, sharedRaidBosses);
          } else { // if the marker was unspiderified before zooming
            // add the unspiderified marker to the map
            const unspiderifiedMarker = VMap
              .createMarker(
                icon,
                { latitude, longitude },
              )
              .addTo(this.map);
            this.unspiderifiedMarkers.push(unspiderifiedMarker);

            // since a new DOM element was created, we need to re-attach the click handler to marker
            icon.onclick = () => {
              // spiderify
              this.unspiderifiedMarkers.find((marker) => marker === unspiderifiedMarker)?.remove();
              this.spiderify({ latitude, longitude }, sharedRaidBosses);
            };
          }
          break;
        }
      }
    });
  }
}
</script>
<style scoped>
@import url("https://api.mapbox.com/mapbox-gl-js/v0.53.0/mapbox-gl.css");

#map {
  width: 100%;
  height: 100%;
}
</style>
<style>
/* quick fix to override mapboxgl's default popup styling */
.mapboxgl-popup-content {
  padding: 0;
}

/* hide mapbox watermark when overlays/panels/navigation drawers are open */
.mapboxgl-ctrl-top-right,
.mapboxgl-ctrl-bottom-left,
.mapboxgl-ctrl-bottom-right {
  z-index: 0;
}

/* Spiderifier styles */
.spider-leg-container {
  width: 1px;
  height: 1px;
  overflow: display;
  will-change: transform;
}

.spider-leg-container:hover { cursor: pointer }

.spider-leg-container .spider-leg-pin {
  position: relative;
  z-index: 1;
}

.spider-leg-container .spider-leg-pin.default-spider-pin{
  position: relative;
  width: 25px;
  height: 41px;
  margin-left: -15px;
  margin-top: -25px;
  background-image: url(https://cdnjs.cloudflare.com/ajax/libs/leaflet/1.0.0-beta.2/images/marker-icon.png);
}

.spider-leg-container .spider-leg-line {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 2px;
  background-color: #343434;
  opacity: 0.45;
  transform-origin: bottom;
  z-index: 0;
  height: 0;
}

.spider-leg-container:hover .spider-leg-line { opacity: 1 }

/* Animations specific styles */

.spider-leg-container.animate {
  -webkit-transition: margin 0.15s linear;
  -moz-transition: margin 0.15s linear;
  -ms-transition: margin 0.15s linear;
  -o-transition: margin 0.15s linear;
  transition: margin 0.15s linear;
}

.spider-leg-container.initial,
.spider-leg-container.exit {
  margin-left: 0 !important;
  margin-top: 0 !important;
  height: 0;
}

.spider-leg-container.animate .spider-leg-line {
  -webkit-transition: all 0.15s linear;
  -moz-transition: all 0.15s linear;
  -ms-transition: all 0.15s linear;
  -o-transition: all 0.15s linear;
  transition: all 0.15s linear;

  -webkit-transition-delay: inherit;
  -moz-transition-delay: inherit;
  -ms-transition-delay: inherit;
  -o-transition-delay: inherit;
  transition-delay: inherit;
}

.spider-leg-container.animate.initial .spider-leg-line,
.spider-leg-container.animate.exit .spider-leg-line { height: 0 !important }
</style>
