<template>
  <!-- v-model is set when the user clicks away from the menu -->
  <v-navigation-drawer
    v-model="computedIsSearchMenuPanelOpen"
    absolute
    temporary
    width="288"
  >
    <v-list
      class="py-0"
    >
      <v-list-item>
        <v-list-item-content>
          <v-list-item-title>
            Pokemon Go Raid Map
          </v-list-item-title>
        </v-list-item-content>

        <v-list-item-action
          class="ma-0"
        >
          <v-btn
            icon
            @click="onClickCloseMenu"
          >
            <v-icon>
              mdi-chevron-double-left
            </v-icon>
          </v-btn>
        </v-list-item-action>
      </v-list-item>

      <v-divider />
      <v-spacer />

      <v-list-item
        dense
      >
        <!-- <v-list-item-avatar>
          <v-icon class="grey lighten-1 white--text">
            mdi-account
          </v-icon>
        </v-list-item-avatar> -->

        <v-list-item-content>
          <!-- TODO: the width/height calculations were found by trial-and-error -->
          <v-dialog
            v-model="isHelpOpen"
            width="80%"
            :max-width="computedMaxWidth"
          >
            <template v-slot:activator="{ on, attrs }">
              <v-btn
                class="text-none"
                text
                v-bind="attrs"
                v-on="on"
                @click="isHelpOpen = true"
              >
                {{ "Get help" | titlecase }}
              </v-btn>
            </template>
            <v-carousel
              v-model="index"
              height="100%"
            >
              <v-carousel-item
                v-for="picture in installationPictures"
                :key="picture.src"
              >
                <div class="help-text">
                  {{ picture.text }}
                </div>
                <v-img
                  contain
                  :lazy-src="require(`@/assets/${picture.src}`)"
                  :src="require(`@/assets/${picture.src}`)"
                />
              </v-carousel-item>
            </v-carousel>
          </v-dialog>
        </v-list-item-content>
      </v-list-item>
    </v-list>
  </v-navigation-drawer>
</template>

<script lang="ts">
import Vue from 'vue';
import Component from 'vue-class-component';
import { mapActions } from 'vuex';

import {
  OPEN_SEARCH_MENU_PANEL,
  CLOSE_SEARCH_MENU_PANEL,
} from '@/store/actions';

const SearchMenuPanelProps = Vue.extend({
  props: {
    isSearchMenuPanelOpen: {
      type: Boolean,
    },
  },
});

@Component({
  methods: {
    ...mapActions([
      OPEN_SEARCH_MENU_PANEL,
      CLOSE_SEARCH_MENU_PANEL,
    ]),
  },
  watch: {
  },
})
export default class SearchMenuPanel extends SearchMenuPanelProps {
  OPEN_SEARCH_MENU_PANEL!: () => void;

  CLOSE_SEARCH_MENU_PANEL!: () => void;

  isHelpOpen = false;

  index = 0;

  installationPictures = [
    { text: 'Tap the 3-dot menu', src: 'step1.png' },
    { text: 'Click Add to Home screen', src: 'step2.png' },
    { text: 'Click Add', src: 'step3.png' },
  ];

  get computedIsSearchMenuPanelOpen(): boolean {
    return this.isSearchMenuPanelOpen;
  }

  set computedIsSearchMenuPanelOpen(isOpen: boolean) {
    // since touch is enabled, the user can swipe from the left pane to open the nav drawer
    // so we need to update the state in VueX
    if (isOpen) {
      this.OPEN_SEARCH_MENU_PANEL();
    } else {
      this.CLOSE_SEARCH_MENU_PANEL();
    }
  }

  // TODO: find a better way to handle responsive images
  get computedMaxWidth(): number {
    switch (this.$vuetify.breakpoint.name) {
      case 'xs': return 250;
      case 'sm': return 250;
      case 'md': return 300;
      case 'lg': return 325;
      case 'xl': return 350;
      default: return 0;
    }
  }

  onClickCloseMenu(): void {
    this.CLOSE_SEARCH_MENU_PANEL();
  }
}
</script>
<style scoped>
/* TODO: temporary fix to remove scrollbar from image */
::v-deep .v-dialog {
  overflow-y: hidden;
}

.help-text {
  background-color: rgba(0, 0, 0, 0.8);
}
</style>
