<template>
  <v-dialog
    v-if="shareTarget"
    v-model="dialog"
    dark
    persistent
    max-width="600px"
  >
    <v-card>
      <v-card-title class="pb-0">
        <span class="headline">Share a Raid</span>
      </v-card-title>
      <v-card-text class="pb-0">
        <v-container class="pa-0">
          <v-row>
            <v-col
              xs12
              sm6
              md4
            >
              <v-select
                v-model="computedSelectedTier"
                :items="computedUniqueTiers"
                label="Tier*"
                prepend-inner-icon="mdi-star-outline"
                required
                clearable
              />
            </v-col>
            <v-col
              class="text-capitalize"
              xs12
              sm6
              md8
            >
              <v-autocomplete
                ref="selectBoss"
                v-model="computedSelectedBoss"
                :items="computedRaidBosses"
                item-text="name"
                label="Search for a boss..."
                prepend-inner-icon="mdi-emoticon-devil-outline"
                return-object
                clearable
                @change="onSelectedBossChange"
              >
                <template v-slot:no-data>
                  <v-list-item>
                    <v-list-item-title>Search for the boss</v-list-item-title>
                  </v-list-item>
                </template>
                <template v-slot:selection="{ item }">
                  <span v-text="item.name" />
                </template>
                <template v-slot:item="{ item }">
                  <v-list-item-avatar
                    color="indigo"
                    class="headline font-weight-light white--text"
                  >
                    {{ item.number }}
                  </v-list-item-avatar>
                  <v-list-item-content>
                    <v-list-item-title
                      class="text-capitalize"
                      v-text="item.name"
                    />
                    <v-list-item-subtitle
                      class="text-capitalize"
                      v-text="item.number"
                    />
                  </v-list-item-content>
                  <v-list-item-action />
                </template>
              </v-autocomplete>
            </v-col>
          </v-row>
          <v-row>
            <v-col class="pt-0">
              <v-menu
                ref="menu"
                v-model="timePickerMenu"
                :close-on-content-click="false"
                :return-value.sync="time"
                transition="scale-transition"
                max-width="290px"
                min-width="290px"
                offset-y
              >
                <template v-slot:activator="{ on }">
                  <!-- TODO: change time text-field to 12 hour format -->
                  <v-text-field
                    v-model="time"
                    label="Hatch time*"
                    prepend-inner-icon="mdi-clock-outline"
                    readonly
                    required
                    v-on="on"
                  />
                </template>
                <v-time-picker
                  v-if="timePickerMenu"
                  :value="time"
                  dark
                  ampm-in-title
                  @input="time = $event"
                >
                  <v-btn
                    color="blue darken-1"
                    text
                    @click="time = resetTime()"
                  >
                    Reset
                  </v-btn>
                  <v-spacer />
                  <v-btn
                    color="blue darken-1"
                    text
                    @click="timePickerMenu = false"
                  >
                    Cancel
                  </v-btn>
                  <v-btn
                    color="blue darken-1"
                    text
                    @click="$refs.menu.save(time)"
                  >
                    OK
                  </v-btn>
                </v-time-picker>
              </v-menu>
            </v-col>
          </v-row>
          <!-- <v-col xs12>
              <v-switch
                v-model="status"
                :label="status ? 'Going' : 'Reporting only'"
                dense
                required
              />
            </v-col> -->
        </v-container>
        <v-col class="py-0">
          <small>*indicates required field</small>
        </v-col>
        <v-col class="pb-0">
          <v-alert
            :value="!computedValidShare"
            type="error"
          >
            {{ computedShareError }}
          </v-alert>
        </v-col>
      </v-card-text>
      <v-card-actions class="pt-0">
        <v-spacer />
        <v-btn
          dark
          @click="dialog = false"
        >
          Close
        </v-btn>
        <v-btn
          :disabled="!computedValidShare"
          color="primary"
          @click="onClickShare"
        >
          Share
        </v-btn>
      </v-card-actions>
    </v-card>
  </v-dialog>
</template>

<script lang="ts">
import Vue, { PropType } from 'vue';
import Component from 'vue-class-component';
import { mapActions } from 'vuex';

import {
  Coordinates,
  RaidBoss,
  RaidTier,
  Shareable,
  Status,
  SharedRaidBoss,
} from '@/components/models';
import {
  raidBossModule,
  GET_RAID_BOSSES,
  GET_SHARED_RAID_BOSSES,
  SHARE_RAID_BOSS,
} from '@/store/modules/raidBoss/actionTypes';

const ShareRaidDialogProps = Vue.extend({
  props: {
    shareTarget: {
      type: Object as PropType<Shareable>,
      default: undefined,
    },
    raidBosses: {
      type: Array as PropType<RaidBoss[]>,
      default: undefined,
    },
    raidBossesStatus: {
      type: String as PropType<Status>,
      default: undefined,
    },
  },
});

@Component({
  methods: {
    ...mapActions(raidBossModule, [
      GET_RAID_BOSSES,
      GET_SHARED_RAID_BOSSES,
      SHARE_RAID_BOSS,
    ]),
  },
})
export default class ShareRaidDialog extends ShareRaidDialogProps {
  GET_RAID_BOSSES!: () => void;

  GET_SHARED_RAID_BOSSES!: (currentCoordinates: Coordinates) => void;

  SHARE_RAID_BOSS!: (raidBoss: SharedRaidBoss) => void;

  // share form
  // reactive property by initializing null; required to close the dialog
  dialog: boolean | null = null;

  selectedTier: string | null = null;

  selectedBoss: RaidBoss | null = null;

  selectedRaid!: string;

  resetTime = (): string => this.$options?.filters?.hhMm(
    new Date().toISOString(),
    // Removes a.m. and p.m. so timepicker v-model is set correctly
    24,
  );

  // TODO: toggle b/w hatch and end time?
  time: string = this.resetTime();

  timePickerMenu = false;

  status = false;

  // Computed
  // TODO: refactor this
  get computedLngLat(): Coordinates {
    const dms: string[] = this.shareTarget.title.split(/[^\d\w]+/);
    function ConvertDMSToDD(
      degrees: string,
      minutes: string,
      seconds: string,
      direction: string,
    ) {
      return direction === 'S' || direction === 'W'
        ? (parseInt(degrees, 10)
          + parseInt(minutes, 10) / 60
          + parseInt(seconds, 10) / (60 * 60))
        * -1
        : parseInt(degrees, 10)
        + parseInt(minutes, 10) / 60
        + parseInt(seconds, 10) / (60 * 60);
    }
    return {
      longitude: ConvertDMSToDD(dms[5], dms[6], dms[7], dms[9]),
      latitude: ConvertDMSToDD(dms[0], dms[1], dms[2], dms[4]),
    };
  }

  get computedValidShare(): boolean {
    return (this.computedSelectedTier && this.computedValidTime) as boolean;
  }

  get computedCurrUTCTimestamp(): Date {
    const today: Date = new Date();
    // returns "Invalid Date" if this.time is falsy
    return new Date(
      today.getFullYear(),
      today.getMonth(),
      today.getDate(),
      this.time
        ? parseInt(this.time.split(':')[0], 10)
        : undefined,
      this.time
        ? parseInt(this.time.split(':')[1], 10)
        : undefined,
    );
  }

  get computedValidTime(): boolean {
    // returns false if this.computedCurrUTCTimestamp is "Invalid Date"
    return this.computedCurrUTCTimestamp > new Date();
  }

  /**
   * v-model :value handler that returns the selected boss.
   */
  get computedSelectedBoss(): RaidBoss | null {
    return this.selectedBoss;
  }

  /**
   * v-model @input handler when a boss is selected or cleared.
   */
  set computedSelectedBoss(boss: RaidBoss | null) {
    // if a boss is selected, set the tier to the boss' tier
    if (boss) {
      this.selectedTier = this.$options?.filters?.titlecase(boss.tier);
    }

    // save the selected boss
    this.selectedBoss = boss;
  }

  /**
   * v-model :value handler that returns the tier in titlecase.
   * TODO: refactor this to not utilize selectedBoss?
   */
  get computedSelectedTier(): string | null {
    // if a boss is selected, auto-fill the boss' tier
    if (this.selectedBoss) {
      return this.$options?.filters?.titlecase(this.selectedBoss.tier);
    }
    // default to the tier the user selected
    return this.selectedTier;
  }

  /**
   * v-model @input handler when a tier is selected or cleared.
   */
  set computedSelectedTier(tier: string | null) {
    // tier acts as a pokemon filter
    // if a tier is cleared or a new tier is selected, we should clear the selected pokemon
    if (!tier || this.selectedTier !== tier) {
      this.selectedBoss = null;
    }

    // save the tier
    this.selectedTier = tier;
  }

  /**
   * Returns the raid bosses (filtered by tier if selected) and sorted by Pokemon number.
   */
  get computedRaidBosses(): RaidBoss[] {
    return this.selectedTier
      ? this.raidBosses
        // don't show unknown
        .filter((raidBoss) => raidBoss.name !== 'unknown')
        // the template is titlecased, so convert back to lowercase to match RaidTier type
        .filter((el) => el.tier === this.selectedTier?.toLowerCase())
        .sort((a, b) => {
          if (a.number < b.number) {
            return -1;
          }
          if (b.number < a.number) {
            return 1;
          }
          return 0;
        })
      : [...this.raidBosses]
        // don't show unknown
        .filter((raidBoss) => raidBoss.name !== 'unknown')
        .sort((a, b) => {
          if (a.number < b.number) {
            return -1;
          }
          if (b.number < a.number) {
            return 1;
          }
          return 0;
        });
  }

  get computedUniqueTiers(): string[] {
    return this.raidBosses.reduce(
      (prev, curr: RaidBoss) => (prev.find((el) => el === curr.tier)
        ? prev
        // convert to titlecase for the template
        : prev.concat([this.$options?.filters?.titlecase(curr.tier)])),
      [] as string[],
    );
  }

  get computedShareError(): string {
    let shareError: string;
    if (this.computedValidShare) {
      shareError = '';
    } else if (
      // if the user entered a time that is in the past and selected a tier/boss
      !this.computedValidTime
      && this.time
      && this.computedSelectedTier
    ) {
      shareError = 'The selected time has already passed. Please enter a valid time.';
    } else {
      shareError = 'Please complete the info before sharing the raid boss.';
    }
    return shareError;
  }

  mounted() {
    this.dialog = this.shareTarget != null;
    if (this.dialog) {
      this.GET_RAID_BOSSES();
    }
  }

  onClickShare(): void {
    this.SHARE_RAID_BOSS(
      {
        raidBossName: this.computedSelectedBoss ? this.computedSelectedBoss.name : 'unknown',
        // convert to lowercase to match the RaidTier type
        raidBossTier: this.computedSelectedTier?.toLowerCase() as RaidTier,
        hatchUTCTimestamp: this.computedCurrUTCTimestamp.toISOString(),
        location: this.computedLngLat,
        userStatus: this.status,
      } as SharedRaidBoss,
    );
    this.dialog = false; // close dialog
  }

  onSelectedBossChange(): void {
    // TODO: refactor the use of $refs
    // if a boss was selected, hide the keyboard
    if (this.selectedBoss) {
      (this.$refs.selectBoss as HTMLElement).blur();
    }
  }
}
</script>
