<template>
  <v-navigation-drawer
    v-model="computedIsTrainerCodesPanelOpen"
    absolute
    bottom
    touchless
    width="385.5"
  >
    <v-list-item class="mt-1">
      <v-img
        v-if="selectedSharedRaid"
        :src="computedBannerImage"
        contain
        height="15vh"
        max-height="150"
      />
    </v-list-item>
    <!-- TODO: refactor this v-if conditional: https://vuetifyjs.com/en/components/skeleton-loaders/#implementation-methods -->
    <v-skeleton-loader
      :loading="trainerCodesStatus === 'request'"
      height="60"
      transition="fade-transition"
      type="list-item-avatar"
    >
      <v-list>
        <v-list-item
          v-for="code in trainerCodes"
          :key="code.shareCodeID"
          @click="onClickCode(code)"
        >
          <v-list-item-avatar>
            <v-icon class="grey lighten-1 white--text">
              mdi-account
            </v-icon>
          </v-list-item-avatar>

          <v-list-item-content>
            <v-list-item-title>
              {{ code.trainerCode.toString() | clipboardTrainerCode | formattedTrainerCode }}
            </v-list-item-title>
          </v-list-item-content>

          <v-list-item-action v-if="isClipboardWriteSupported">
            <v-btn icon>
              <v-icon @click="onClickCode(code)">
                mdi-content-copy
              </v-icon>
            </v-btn>
          </v-list-item-action>
        </v-list-item>
      </v-list>
    </v-skeleton-loader>
    <!-- append slot allows items to be added from the bottom without CSS manipulation -->
    <!-- https://github.com/vuetifyjs/vuetify/issues/3536#issuecomment-554124713 -->
    <template v-slot:append>
      <div class="d-flex pa-2">
        <!-- gives the nested text field responsive width https://vuetifyjs.com/en/styles/flex/#flex-grow-and-shrink -->
        <v-form
          ref="form"
          v-model="validTrainerCode"
          class="flex-grow-1 flex-shrink-1"
        >
          <v-text-field
            v-model="trainerCode"
            :rules="[inputRules.trainerCode]"
            :loading="shareTrainerCodeStatus === 'request'"
            label="Trainer code"
            hide-details="true"
            validate-on-blur
            clearable
            solo
            full-width
            single-line
          >
            <!-- Slot the clipboard component -->
            <template v-slot:append>
              <v-btn
                v-if="isClipboardReadSupported"
                icon
                @click="onClickPaste"
              >
                <v-icon>mdi-content-paste</v-icon>
              </v-btn>
            </template>
            <template v-slot:append-outer>
              <v-btn
                class="mt-n0"
                icon
                @click="onClickSend"
              >
                <v-icon>mdi-send</v-icon>
              </v-btn>
            </template>
          </v-text-field>
        </v-form>
      </div>
    </template>

    <!-- Displays toasts when code is copied/pasted -->
    <!-- TODO: figure out if we can position toast outside of this component -->
    <v-snackbar
      v-model="snackbar"
      :timeout="2000"
    >
      {{ toastMessage }}
    </v-snackbar>
  </v-navigation-drawer>
</template>

<script lang="ts">
import Vue, {
  PropType,
} from 'vue';
import Component from 'vue-class-component';
import { mapActions } from 'vuex';

import {
  SharedRaidBoss,
  SharedTrainerCode,
  Status,
  VForm,
} from '@/components/models';
import {
  CLOSE_TRAINER_CODES_PANEL,
} from '@/store/actions';
import {
  trainerCodeModule,
  GET_TRAINER_CODES,
  SHARE_TRAINER_CODE,
} from '@/store/modules/trainerCode/actionTypes';

const TrainerCodesPanelProps = Vue.extend({
  props: {
    selectedSharedRaid: {
      type: Object as PropType<SharedRaidBoss>,
      default: undefined,
    },
    shareTrainerCodeStatus: {
      type: String as PropType<Status>,
      default: undefined,
    },
    trainerCodes: {
      type: Array as PropType<SharedTrainerCode[]>,
      default: undefined,
    },
    trainerCodesStatus: {
      type: String as PropType<Status>,
      default: undefined,
    },
    isTrainerCodesPanelOpen: {
      type: Boolean,
    },
  },
});

@Component({
  methods: {
    ...mapActions(trainerCodeModule, [
      GET_TRAINER_CODES,
      SHARE_TRAINER_CODE,
    ]),
    ...mapActions([
      CLOSE_TRAINER_CODES_PANEL,
    ]),
  },
  watch: {
    shareTrainerCodeStatus: 'onShareTrainerCodeStatusChange',
  },
})
export default class TrainerCodesPanel extends TrainerCodesPanelProps {
  GET_TRAINER_CODES!: (selectedSharedRaidID: string) => void;

  SHARE_TRAINER_CODE!: (trainerCode: SharedTrainerCode) => void;

  CLOSE_TRAINER_CODES_PANEL!: () => void;

  validTrainerCode = true;

  isClipboardReadSupported = false;

  isClipboardWriteSupported = false;

  inputRules: {
    required: (input: string) => string | boolean;
    trainerCode: (input: string) => string | boolean;
  } = {
    required: (value) => !!value || 'Required.',
    trainerCode: (value) => /^\d{4} \d{4} \d{4}$/g.test(value) || 'Format: 0000 0000 0000',
  };

  // TODO: consider using get/set computedProperty to format trainerCode as user types
  trainerCode = '';

  toastMessage = '';

  // TODO: consider using get/set for snackbar values
  // After timeout, this.snackbar is set to false
  snackbar = false;

  get form(): VForm {
    return this.$refs.form as VForm;
  }

  get computedIsTrainerCodesPanelOpen(): boolean {
    return this.isTrainerCodesPanelOpen;
  }

  set computedIsTrainerCodesPanelOpen(isOpen: boolean) {
    // computedIsTrainerCodesPanelOpen holds the local state of the drawer
    // since the source of truth for the panel is the store state, we need to save the state
    if (!isOpen) {
      this.CLOSE_TRAINER_CODES_PANEL();
      this.trainerCode = '';
    }
  }

  get computedBannerImage(): string {
    if (this.selectedSharedRaid.raidBossCanonicalName !== 'unknown' && this.selectedSharedRaid.raidBossNumber) {
      return `https://raw.githubusercontent.com/ZeChrales/PogoAssets/master/pokemon_icons/pokemon_icon_${this.$options?.filters?.pokemonNumber(this.selectedSharedRaid.raidBossNumber?.toString())}_00.png`;
    }
    let url: string;
    switch (this.selectedSharedRaid.raidBossTier) {
      case '1':
        url = 'https://raw.githubusercontent.com/ZeChrales/PogoAssets/master/decrypted_assets/png/raid_egg_0_icon.png';
        break;
      case '3':
        url = 'https://raw.githubusercontent.com/ZeChrales/PogoAssets/master/decrypted_assets/png/raid_egg_1_icon.png';
        break;
      case '5':
        url = 'https://raw.githubusercontent.com/ZeChrales/PogoAssets/master/decrypted_assets/png/raid_egg_2_icon.png';
        break;
      case 'mega':
      default:
        url = 'https://raw.githubusercontent.com/ZeChrales/PogoAssets/master/decrypted_assets/png/raid_egg_3_icon.png';
        break;
    }
    return url;
  }

  async created() {
    // check if clipboard is supported
    if (!navigator.clipboard) {
      return;
    }

    // check if clipboard read and write is supported (Firefox does not support reading)
    if (navigator.clipboard.writeText != null) {
      // since clipboard write access is given if active tab
      // we don't need to explicitly ask for permission
      this.isClipboardWriteSupported = true;
    }
    if (navigator.clipboard.readText != null) {
      this.isClipboardReadSupported = true;
    }

    // check if clipboard read permission is granted
    const clipboardReadPermission: PermissionStatus = await navigator.permissions.query(
      {
        name: 'clipboard-read' as PermissionName,
      },
    );
    clipboardReadPermission.onchange = () => {
      this.isClipboardReadSupported = clipboardReadPermission.state === 'granted';
    };
  }

  async onClickPaste() {
    try {
      const clipboardContents = await navigator.clipboard.readText();
      this.trainerCode = clipboardContents;
    } catch (err) {
      console.error(err);
    }
  }

  onClickSend() {
    if (!this.form.validate()) {
      console.error('Invalid trainer code');
      this.snackbar = true;
      this.toastMessage = 'Invalid code format; ex. 0000 0000 0000';
      return;
    }
    this.SHARE_TRAINER_CODE(
      {
        raidID: this.selectedSharedRaid.raidID,
        // converts XXXX XXXX XXXX string of numbers to an integer (leading zeroes stripped)
        trainerCode: parseInt(this.trainerCode.split(' ').join(''), 10),
      } as SharedTrainerCode,
    );
  }

  // Clear trainer code input on successful share
  onShareTrainerCodeStatusChange(shareTrainerCodeStatus: Status): void {
    switch (shareTrainerCodeStatus) {
      case 'success':
        this.trainerCode = '';
        break;
      default:
        break;
    }
  }

  async onClickCode({ trainerCode }: SharedTrainerCode) {
    try {
      await navigator.clipboard.writeText(
        this.$options?.filters?.clipboardTrainerCode(
          trainerCode.toString()
        ),
      );
      this.snackbar = true;
      this.toastMessage = 'Copied to clipboard';
    } catch (err) {
      console.error(err);
    }
  }

  // TODO: show scrollbar on hover of v-navigation-drawer__content; hide otherwise
  /* onMouseEnterTrainerCodesPanel(): void {
  } */

  /* onMouseLeaveTrainerCodesPanel(): void {
  } */

  // TODO: add swipeable/draggable panel
  // https://vuetifyjs.com/en/directives/touch-support/
  // https://stackoverflow.com/questions/55261712/vuetify-navigation-drawer-drag-to-resize
}
</script>

<style scoped>
/* TODO: min-width prop on v-snackbar is broken: https://github.com/vuetifyjs/vuetify/issues/11632 */
::v-deep .v-snack__wrapper {
  min-width: auto;
}
/* TODO: default rule of height: 100vh prevents it from being displayed on mobile */
::v-deep .v-snack:not(.v-snack--absolute) {
  height: auto;
}

/* TODO: temp solution to hide scrollbars */
/* For Chromium */
/* ::v-deep ::-webkit-scrollbar {
  display: none;
} */
/* For IE and Edge (first rule); for Firefox (second rule) */
/* ::v-deep .v-navigation-drawer__content {
  -ms-overflow-style: none;
  scrollbar-width: none;
} */

/* TODO: temp solution to customize scrollbars */
/* Bar */
::v-deep .v-navigation-drawer__content::-webkit-scrollbar {
  width: 9px;
}
/* Track */
::v-deep ::-webkit-scrollbar-track {
  background: #f1f1f1;
}
/* Handle */
::v-deep ::-webkit-scrollbar-thumb {
  background: #888;
}
/* Handle on hover */
::v-deep ::-webkit-scrollbar-thumb:hover {
  background: #555;
}
</style>
