<template>
  <!-- Default app structure: https://vuetifyjs.com/en/components/application/#default-application-markup -->
  <v-app>
    <v-main>
      <!-- class="pa-0" removes padding from the map -->
      <v-container
        class="pa-0"
        fluid
        fill-height
      >
        <router-view />
      </v-container>
    </v-main>
  </v-app>
</template>

<script lang="ts">
import Vue from 'vue';
import Component from 'vue-class-component';

@Component
export default class App extends Vue {
}
</script>
<style>
#app {
  font-family: "Avenir", Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
}

/* Remove scroll from v-app */
/* https://github.com/vuetifyjs/vuetify/issues/1197 */
html {
  overflow-y: hidden !important;
}
</style>
